<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name='twitter:card' content='summary_large_image'>
    <meta property='og:image' content=<%=imglink%>>
    <meta property='og:title' content='Simple Uploader'>
    <meta property='og:description' content='created by kameHame HA#9700'>
    <meta name='theme-color' content='#606060'>
</head>
<body>
    Image <%=file%>
</body>
</html>