html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #303030;
}

.body {
  display: grid;
  align-items: start;
  align-items: center;
  place-content: center;
  color: #C8C8C8;
}
.body p {
  font-size: small;
}